body{
    background-color: black;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/41eaebdf-5de5-4e41-9e1f-cbf140f2dcbb/US-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}
.navLogo {
    width:148px;
    height: 40px;
}   
.navbar{
    background-color: #11212100;
}
.containerOverride{
    margin-left: 11%;
    margin-top: .75%;
}
.containerOverride2{
    margin-right: 11%;
    margin-top: .75%;
}
.btnColor{
    background-color: #e50914;
    color: white;
    font-weight: 500;
}
body {
    background-image: linear-gradient(to top, 
     #00000000, #000000c9), linear-gradient(to bottom, 
     #00000000, #000000c9), url('https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/41eaebdf-5de5-4e41-9e1f-cbf140f2dcbb/US-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg');
     margin: 0;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
.btn-outline-light{
    border-width: 3px;
    border-radius: 11px;
}