<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user registration</title>
</head>
<body>
    <div class="container">
        <h1>user registration</h1>
        <form action="" method="POST">
            <div class="form-group">
                <label for="username">username</label>

            </div>
            <div class="form-group">
                <label for="password">password</label>

            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm password</label>

            </div>
            <button type="submit" class="btn btn-primary">register</button>
        </form>
        <p>Already have an account? <a href="">login</a></p>
    </div>
</body>
</html>